.strength_workout_container {
    display: grid;
    background:rgba(0, 0, 0, 0.8);
    grid-template-columns: 65% 35%;
    grid-template-rows:10rem 1fr;
    cursor: default;
    text-align: center;
    /* height:100%; */
}

.strength-custom-select {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 5;
    width:100%;
    height:3rem;
    margin:auto;
}

.strength-custom-select select{
    width:16rem;
    height:70%;
    border:none;
    outline: none;
    -webkit-appearance: none;
    -ms-appearance: none; 
    margin:0 2rem;
    border-radius: 2px;
    padding:0.5rem;
    font-size: 1rem;
}

.strength_grid_cube {
    min-width: 18rem;
    text-align: center;
    display:inline-block;
}

.strength_workout_container img {
    display:inline-block;
    height: 22rem;
    width:22rem;
    filter: brightness(70%);
    box-shadow: 5px 10px 18px rgba(0,0,0,0.6);
    border-radius: 10px;
    margin:1rem 1.5rem;
    
}

.chosen_muscle_wrapper {
    text-align: left;
    margin:5rem 0;
    padding-left:8rem;
}

.cube_content {
    display:inline-block;
    padding: 0.5rem;
    color:white;
    margin:0.3rem;
    /* overflow: hidden; */
    max-height:10rem;
    vertical-align: top;
}

.cube_content p {
    margin:0.2rem;
    clear:both;
    /* float:left; */
    font-size: 1.1rem;
    /* vertical-align: middle; */
}

.cube_content p:hover {
    font-weight: bold;
}

.selected img {
    filter: none ;
}

.muscle_chosen {
    background-color: white;
    color:black;
    font-weight: bold;
    padding:0.2rem;
}

@media (max-width:1850px){

    .strength_workout_container {
        display:block;
        padding:3rem 0;
    }
    
    .strength_workout_container .side_guide {
        margin:0;
    }

    .strength_workout_container .side_guide p{
        min-width:300px;
        margin:3rem 0;
    }

    .strength_grid_cube {
        display:inline-block;
        width:30%;
        max-width:400px;
        margin:0.5rem;
    }
    
    .workout-submit-container {
        display:block;
    }

    .strength_workout_container img{
        margin:2rem auto;
        width:20rem;
        height:20rem;
    }
    #set-workout-btn  {   
        display:block;
        float:none;
        margin:3rem auto;
        width:30%;
        min-width:260px;
    }

    .cube_content {
        min-width: 450px;
        text-align: center;
    }

    .cube_content p{
        display: block ;
        text-align: center;
        width:100%;
    }
}

@media (max-width:1100px){
    .strength_grid_cube{
        display:block ;
        margin:auto;
    }

    .chosen_muscle_wrapper {
        margin-top:7rem;
        padding-left:0;
    }

    .cube_content {
        display:block;
        margin-bottom:14rem;
    }

    .strength-custom-select {
        height: 5rem;
    }

    .strength-custom-select select {
        display: block;
        margin: 1rem auto;
        height:2.5rem;
    }

}


/* 
.strength_grid_cube img {
    display:block;
    height: 25rem;
    filter: brightness(70%);
    width:25rem;
    border:2px solid white;
    margin:auto;
    box-shadow: 5px 10px 18px rgba(0,0,0,0.6);
    border-radius: 10px;
} 

 
.arrow {
    position: absolute;
    top:-1.5rem;
    right:0.5rem;
    padding: 0.5rem; 
            box-shadow: 1px -1px 0 1px rgb(255, 255, 255) inset;
    -webkit-box-shadow: 2px -2px rgb(255, 255, 255) inset;
    border: solid transparent;
    border-width: 0 0 2rem 2rem;
    transition: 0.2s;
  }
  
  .arrow:hover {
            box-shadow: 2px -2px 0 2px rgb(255, 229, 254) inset;
    -webkit-box-shadow: 4px -4px rgb(230, 227, 229) inset;
  }

.arrow-left  { transform:rotate(135deg) } */
